@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Zen+Dots&display=swap');

/* Below prevents my content from becoming bigger than container. Had an issue with roster page specifically where contents of each team box was bigger than container itself */
*  
{
    box-sizing: border-box;
}

body
{
    margin: 0;

    background-color: #101010;
}

/* Navbar/Main Page Split */

.pageLayout
{
    display: flex;
    flex-direction: row;
}

.navBar
{
    width: 350px;
    min-height: 1050px;
    background-image: linear-gradient(to bottom, black 50%,#094D33);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.pageContent
{
    width: 100%;
    height: 100%;
    /* background-color: #101010; */
}

/* Navigation Menu */

.navLogo
{
    width: 250px;
}

.navMainBtnCont
{
    font-family: jura;
    color: white;
    list-style: none;
    font-size: 1.5em;
}

.navMainBtns
{
    margin-bottom: 20px;
}

.navSettingsCont
{
    font-family: jura;

    margin-bottom: 20px;
}

.profileSettingsBtn
{
    width: 200px;
    height: 50px;

    background-color: black;
    color: white;
    border: white solid 1px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.adminSettingsBtn
{
    margin-top: 10px;
    width: 200px;
    height: 50px;

    color: white;
    background-color: black;
    border: white solid 1px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

}

/* Overview Page */

.headerCont
{
    display: flex;
    flex-direction: column;
}

.seasonCont
{
    display: flex;
    justify-content: end;
}

.seasonBtn
{
    margin: 20px 20px 0;

    color: white;
    background-color: black;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    font-size: 1.5em;
    font-family: "Zen dots";

    display: flex;
    justify-content: center;
    align-items: center;
}

.pageNameCont
{
    margin: 20px;

    height: 80px;
    background-color: black;
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageTitle
{
    color: white;
    font-family: "jura";
    font-size: 4.5em;
}

/* Main Page Content */

main
{
    margin-top: 30px;
    width: 100%;
}

.newsCont
{
    margin: 0 20px;
    background-color: black;
    border-radius: 10px;
    min-height: 200px;

}

.sectionTitle
{
    height: 50px;
    color: white;
    font-family: "zen dots";
    font-size: 1.5em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.newsContent
{
    color: white;
    min-height: 200px;
    font-family: "jura";

    display: flex;
    justify-content: center;
    align-items: center;
}

.playerDashCont
{
    margin: 20px 20px;
    background-color: black;
    border-radius: 10px;
    min-height: 625px;
}

.playerDashContent
{
    color: white;
    min-height: 400px;
    font-family: "jura";

    display: flex;
    justify-content: center;
    align-items: center;;
}



#miniStandingsCont
{
    margin: 30px 20px;
    width: 250px;
    height: 550px;

    background-color: black;
    color: white;
    font-family: "zen dots";
    font-size: 1.5em;

    display: flex;
    align-items: center;
    flex-direction: column;
}

#miniStandings
{
    height: 100%;
    font-family: "jura";
    text-align: center;
    font-size: .75em;

    display: flex;
    justify-content: center;
    align-items: center;
}

#killLeaderBoardCont
{
    margin: 30px 20px;
    width: 250px;
    height: 300px;

    background-color: black;
    color: white;
    font-family: "zen dots";
    font-size: 1.5em;

    display: flex;
    align-items: center;
    flex-direction: column;
}

#killLeader
{
    height: 100%;
    font-family: "jura";
    text-align: center;
    font-size: .75em;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Pokebox/Draft */

#metaCont
{
    margin: 0 20px;
    background-color: black;
    border-radius: 10px;
    min-height: 200px;
}

.tierPoolTitle
{
    color: white;
    font-family: "jura";
    font-size: 1.25em;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#ouPoolTierColor
{
    background-color: rgb(255, 0, 0);
}

#uuPoolTierColor
{
    background-color: orange;
}

#ruPoolTierColor
{
    background-color: rgb(212, 212, 3);
}
#nuPoolTierColor
{
    background-color: green;
}

.listOfMetaPkmn
{   

    display: flex;
    flex-wrap: wrap;

}

.listOfMetaPkmn li
{
    margin: 10px;
    padding: 20px;

    font-size: 1.25em;
    font-family: 'jura';
    list-style: none;
    color: white;
    border: white 1px solid;
    border-radius: 20px;
}

.listOfMetaPkmn li:hover
{
    color: black;
    background-color: white;
    cursor: pointer;
}

/* Roster */

.contentCont
{
    margin: 0 20px;
    padding: 40px;

    background-color: black;
    border-radius: 10px;
    min-height: 1050px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.teamCont
{
    margin: 20px;

    width: 400px;
    height: 650px;
    border: solid 1px white;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.teamName
{
    color: white;
    font-family: "jura";
    font-size: 1.5em;
    height: 50px;

    display: flex;
    align-items: center;
}

.rosterPkmn
{
    padding: 0;
    margin: 0;

    width: 100%;
}

.rosterPkmn li
{
    color: white;
    list-style: none;
    font-family: "jura";
    font-size: 1.75em;
    border-top: white solid 1px;
}

.pkmnNameTier
{
    height: 50px;
    padding: 0 20px ;
    /* background-image: linear-gradient(to right,black 20%,red); */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pkmnNameTier div:last-child
{
    width: 50px;
    border-left: white 1px solid;
    padding-left: 10px;
    font-weight: bold;
}

/* Admin Page */

#teamManagement
{
    padding: 20px;

    border: white 1px solid;
    height: 400px;
    color: white;
    font-size: 2em;
    font-family: "jura";
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}